################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp1/.vs
/ConsoleApp1/ConsoleApp2/bin/Debug/net6.0
/ConsoleApp1/ConsoleApp2/obj
